name: "Validate OpenAPI specification"
on:
  push:
    branches:
      - main
    tags:
      - v*
    paths-ignore:
      - "**.md"

  pull_request:
    types: [ opened, synchronize ]
    paths-ignore:
      - "**.md"

  workflow_dispatch:


jobs:
  validate-oicp-v230-specification:
    name: "Validate the OICP 2.3.0 OpenAPI specification"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Swagger Editor Validator
        uses: char0n/swagger-editor-validate@v1.4.0
        with:
          definition-file: ./2.3.0/api/2.3.0.spec.yml